body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#nav-container {
  display: flex;
  flex-direction: column;
}

#company-name {
  display: flex;
  justify-content: center;
}

#search-bar-login-signup {
  display: flex;
  justify-content: space-between;
}

#login-signup-cart {
display: flex;
align-items: center;
}

.login-logout {
  display: flex;
  align-items: center
}

#login-dropdown-form {
position: absolute;
top: 130px;
right: 80px;
z-index: 2;
background-color: white;
padding: .75rem;
border-radius: .25rem;
box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
opacity: 0;
pointer-events: none;
transition: opacity 200ms ease-in-out
}


#login-dropdown:hover + #login-dropdown-form {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto
}

#login-dropdown-form.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto
}

#login-form{
  display: flex;
  flex-direction: column;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.dropbtn {
  background-color: #f7b731;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  flex-direction: column;

}

.dropdown-content input{
  border: none;
  padding: 10px 20px;
  width: 350px;
  font-size: 16px;
  outline: none;
}

.dropdown-content button{
  background-color: #f7b731;
  border: none;
  border-radius: 0 30px 30px 0;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.dropdown:hover .dropdown-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown:hover .dropbtn {
  background-color: #e9ac2d;
}

.drops {
display: flex;
justify-content: space-evenly;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input[type="text"] {
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  width: 350px;
  font-size: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search-bar button[type="submit"] {
  background-color: #e32272;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-left: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search-bar button[type="submit"]:hover {
  background-color: #e9ac2d;
}



button {
  background-color: #F79256;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #FAA45B;
}

.featured-products {
  margin-top: 50px;
}

.featured-products h2 {
  font-size: 36px;
  color: #F79256;
  text-align: center;
  margin-bottom: 40px;
}

.featured-products ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.featured-products li {
  text-align: center;
  margin: 20px;
  background-color: #FDEDEC;
  border-radius: 20px;
  padding: 20px;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.featured-products li:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.featured-products img {
  width: 200px;
  margin-bottom: 20px;
}

.featured-products h3 {
  font-size: 24px;
  color: #4D4D4D;
  margin-bottom: 10px;
}

.featured-products p {
  font-size: 20px;
  color: #F79256;
  margin-bottom: 20px;
}



